.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  margin-bottom: 100px;
}

.classContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* ======================================== */
/* Nav */
/* ======================================== */

.homeIcon {
  position: absolute;
  top: 0;
  right: 0;
}

/* ======================================== */
/* Roster sidebar styles */
/* ======================================== */

.roster {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding-right: 5%;
}

.roster .student {
  cursor: pointer;
  font-size: 1.5rem;
}

.roster .student:hover {
  color: gold;
}

.addStudentButton {
  width: 50%;
}

.studentContent {
  height: 100%;
  width: 80%;
}

/* ======================================== */
/* Modal Styles */
/* ======================================== */

.studentModal {
  display: none;
  width: 100%;
}

.modalContent {
  margin: 0;
  width: 100%;
}

/* ======================= */
/* studentDisplay */
/* ======================= */

.studentDisplay {
  display: block;
}

/* ======================= */
/* Mobile */
/* ======================= */

@media (max-width: 600px) {
  .roster {
    width: 100%;
    text-align: center;
    padding-right: 0;
    display: flex;
  }

  .addStudentButton {
    align-self: center;
  }

  .studentDisplay {
    display: none;
  }
}
