.mainContent {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.classListContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.classModal {
  display: none;
}

.addClassButton {
  margin: 5%;
}

.modalContent {
  margin: 0 auto;
  width: 50%;
}
