.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  margin-bottom: 100px;
}

.classContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* ======================================== */
/* Roster sidebar styles */
/* ======================================== */

.roster {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.roster .student {
  cursor: pointer;
  font-size: 1.5rem;
}

.roster .student:hover {
  color: gold;
}

.studentContent {
  height: 100%;
  width: 80%;
}

/* ======================================== */
/* Modal Styles */
/* ======================================== */

.studentModal {
  display: none;
}

.modalContent {
  margin: 0;
}

/* ======================= */
/* Mobile */
/* ======================= */

@media (max-width: 600px) {
  .roster {
    width: 100%;
    text-align: center;
  }
}
